# Ignore python bytecoded files
*.py[cod]
*.[oa]
*~
*.bak
*.so
*.egg
*.profraw
*.html
*.c
build/
# ignore coverage files
.coverage*
!.coveragerc
.noseids
htmlcov
# editors and IDEs
*.sw[a-z]
*~
.idea
.vscode
*.lock
*.ipynb
*.log

*.data
/MDemon.egg-info/